@import '~assets/vars.less';
.home {
	height: calc(100% - 70px);
	padding-top: 30px;
	background: #FFF;
	.container{
		height: 100%;
	}
	.home-swiper,
	.swiper-wrapper{
		width: 100%;
		height: 100%;
	}
	.home-swiper{
		.swiper-slide{
			display: flex;
			flex-direction: column;
			>div{
				flex: 1;
				margin-bottom: 15px;
				background-size: cover;
				background-position: center;
			}
			p{
				margin: 0;
				&.swiper-subtitle{
					margin-bottom: 15px;
				}
			}
		}
		.swiper-pagination{
			text-align: right;
			.swiper-pagination-bullet-active{
				background: #333;
			}
		}
	}
}

// @media (max-width: @mobile-point - 1){
// 	.projects {
// 		padding-top: 30px;
// 		.projects-swiper{
// 			height: 100%;
// 		}
// 	}
// }
